*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #081b31;
    color: white;
}
.choices{
    display: flex;
    margin-top: 90px;
    width: 100%;
    height: 120%;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.choice{
    border-radius: 50%;
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice img{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    object-fit: cover;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
.score-board{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 35px;
    font-size: xx-large;
    font-weight: bolder;
    gap: 80px;
}
#user-score , #comp-score{
    font-size: 4rem;
}
.result{
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}